<html>
	<head> {% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>Hello, World!</title>
		{% endif %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
    function classifyTweet(elem){
    		console.log(elem.getAttribute('onclick'));
    		var tweet_num = $(elem).attr("id").charAt(3);
    		$('#neg' + tweet_num).css('background-color', '#999'), $('#pos' + tweet_num).css('background-color', '#999');
    		$('#neg' + tweet_num).attr('onclick', 'alert("You already classified this tweet!");');
    		$('#pos' + tweet_num).attr('onclick', 'alert("You already classified this tweet!");');
    		console.log(tweet_num)
        $.getJSON('/_classify_tweet', {
         	text :  $('input[name="text' + tweet_num + '"]').val(),
          classification:  $(elem).attr('name')
        }, function(data) {
          console.log(data)
        });
        return false;
    };
  </script>
	</head>
	<body>
		<h1>Hello, {{user.nickname}}!</h1>
		{% for i, tweet in tweets %}
		<p>{{tweet.user.name}} says: <b>{{tweet.text}}</b></p>
		<p>User has: {{tweet.user.followers_count}} follwers</b></p>
		<input type="hidden" name="text{{i}}" value="{{tweet.text}}">
		<div>
			<button style="background-color:green" id="pos{{i}}" name="positive" class="button" onclick="classifyTweet(this)">Positive</button>
		</div>
		<div><button style="background-color:red" id="neg{{i}}" name="negative" class="button" onclick="classifyTweet(this)">Negative</button></div>
		{% endfor %}
	</body>
</html>	
